
body {
  justify-content: center;
  margin: 0;
  background-color: #38c5e9;
  color: #f5f5f5;
  font-family: 'TimesNewRoman', sans-serif;
}

.App {
  padding: 20px;
  text-align: center;
  
}

header {
  margin-bottom: 10px;
}

h1 {
  color: #ffffff;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 20px;
}

.search-bar input, .filter select {
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 8px;
  background-color: #ffffff;
  color: #0989a0;
  width: 250px;
}

.filter label {
  margin-right: 10px;
  color: #0989a0;
}

.character-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding: 80px;
  max-width: 1200px;
  margin: 0 auto;
}

.character-card {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 8px 10px rgba(0, 133, 156, 0.4);
  transition: transform 0,2s;
  text-align: left;
}

.character-card:hover {
  transform: scale(1.03);
}

.character-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.character-card .info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-card h3 {
  margin: 0 0 5px 0;
  color: #0000006c;
  font-size: 1.2rem;
}

.status-line {
    margin: 0;
    font-size: 0.9rem;
    color: #088fce;
    display: flex;
    align-items: center;
}

.status-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 8px;
}

.status-alive { background-color: #00ff22; }
.status-dead { background-color: #000000; }
.status-unknown { background-color: #f703ba; }


.character-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(1, 137, 161, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.character-details-modal {
  background: #ffffff;
  color: #00b0c8;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: rgb(0, 170, 170);
  font-size: 1.5rem;
  cursor: pointer;
}

.detail-content {
  text-align: center;
}

.detail-content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 3px solid #00adc4;
}

.info-text p {
    text-align: left;
    margin: 5px 0;
}

.episodes-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #fffcfc;
    border-radius: 5px;
}

.episodes-list li {
    background: #3c3e44;
    padding: 8px;
    margin-bottom: 2px;
    border-radius: 4px;
    font-size: 0.9em;
}

.loading, .error, .no-results {
    font-size: 1.2em;
    padding: 20px;
    color: #00b0c8;
}

.error {
    color: #d63d2e;
}